{% extends 'base.html' %}
{% block title %}Your Post!{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>

<p>{{post.content}}</p>

<p><i>By: {{post.author.full_name}}</i></p>
<p>at {{post.created_at}}</p>

<form>
    <button class="btn btn-primary" formaction="/posts/{{post.id}}/edit">Edit</button>
    <button class="btn btn-danger" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
    <button class="btn btn-outline-primary" formaction="/users/{{post.author_id}}">Go Back</button>
</form>


{% endblock %}